.nav-link {
  font-family: "arial";
  font-size: large;
}

.navbar {
  background-color: #33acd4;
}

body {
  background-color: #f3f2f0
}

.row {
  padding: 20px;
}

.card-title {
  font-size: 48px;
  margin: auto;
}

.btn {
  border-radius: 30px
}

p {
  font-size: 20px;
}

.icon {
  transform: translateY(10px);
}

span {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
}

.avatar {
  width: 15em;
  margin: auto;
  padding: 20px;
}
